<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wiadomosc z formularza kontaktowego</title>
  {{> styles}}
</head>
<body>
  <div class="wrapper">
    {{> header}}
    <div class="body">
      <p class="body__greeting">Nowa wiadomosc z formularza kontaktowego</p>
      <div class="info-box">
        <div class="info-box__label">Od</div>
        <div class="info-box__value">{{name}} &lt;{{email}}&gt;</div>
      </div>
      {{#if subject}}
      <div class="info-box">
        <div class="info-box__label">Temat</div>
        <div class="info-box__value">{{subject}}</div>
      </div>
      {{/if}}
      <div class="info-box">
        <div class="info-box__label">Wiadomosc</div>
        <div class="info-box__value" style="white-space:pre-wrap;word-break:break-word;">{{message}}</div>
      </div>
    </div>
    {{> footer}}
  </div>
</body>
</html>
