<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wniosek odrzucony</title>
  {{> styles}}
</head>
<body>
  <div class="wrapper">
    {{> header}}
    <div class="body">
      <p class="body__greeting">Czesc, {{guestName}}</p>
      <p class="body__text">
        Wrozka <strong>{{wizardName}}</strong> nie mogla przyjac Twojego wniosku o spotkanie.
      </p>
      {{#if rejectionReason}}
      <div class="info-box">
        <div class="info-box__label">Powod</div>
        <div class="info-box__value">{{rejectionReason}}</div>
      </div>
      {{/if}}
      <div class="highlight">
        Nie zrazaj sie! Mozesz zlozyc nowy wniosek do tej lub innej wrozki na naszej platformie. <span class="emoji">💫</span>
      </div>
      <div class="btn-wrapper">
        <a href="{{appUrl}}/ogloszenia" class="btn">Przegladaj wrozki</a>
      </div>
    </div>
    {{> footer}}
  </div>
</body>
</html>
