<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resetowanie hasla</title>
  {{> styles}}
</head>
<body>
  <div class="wrapper">
    {{> header}}
    <div class="body">
      <p class="body__greeting">Czesc, {{username}}! <span class="emoji">🔐</span></p>
      <p class="body__text">
        Otrzymalismy prosbe o zresetowanie hasla do Twojego konta w <strong>eWrozce</strong>. Kliknij ponizszy przycisk, aby ustawic nowe haslo.
      </p>
      <div class="btn-wrapper">
        <a href="{{resetUrl}}" class="btn">Ustaw nowe haslo</a>
      </div>
      <div class="divider"></div>
      <p class="fallback">
        Jesli przycisk nie dziala, skopiuj i wklej ponizszy link w przegladarce:<br />
        <a href="{{resetUrl}}">{{resetUrl}}</a>
      </p>
      <p class="body__text">
        Link jest wazny przez <strong>15 minut</strong>. Jesli nie prosiles/as o zmiane hasla, zignoruj te wiadomosc &ndash; Twoje konto jest bezpieczne.
      </p>
    </div>
    {{> footer}}
  </div>
</body>
</html>
