<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Potwierdz adres e-mail</title>
  {{> styles}}
</head>
<body>
  <div class="wrapper">
    {{> header}}
    <div class="body">
      <p class="body__greeting">Czesc, {{username}}! <span class="emoji">💫</span></p>
      <p class="body__text">
        Dziekujemy za rejestracje w <strong>eWrozce</strong>. Aby aktywowac swoje konto i moc sie zalogowac, kliknij ponizszy przycisk i potwierdz swoj adres e-mail.
      </p>
      <div class="btn-wrapper">
        <a href="{{verifyUrl}}" class="btn">Potwierdz adres e-mail</a>
      </div>
      <div class="divider"></div>
      <p class="fallback">
        Jesli przycisk nie dziala, skopiuj i wklej ponizszy link w przegladarce:<br />
        <a href="{{verifyUrl}}">{{verifyUrl}}</a>
      </p>
      <p class="body__text">
        Link jest wazny przez <strong>24 godziny</strong>. Jesli nie zakladales/as konta, zignoruj te wiadomosc.
      </p>
    </div>
    {{> footer}}
  </div>
</body>
</html>
