<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Witaj w eWrozce!</title>
  {{> styles}}
</head>
<body>
  <div class="wrapper">
    {{> header}}
    <div class="body">
      <p class="body__greeting">Witaj na platformie, {{username}}! <span class="emoji">✨</span></p>
      <p class="body__text">
        Twoje konto specjalisty w <strong>eWrozce</strong> zostalo zatwierdzone. Swietna wiadomosc! Ponizej kilka krokow, dzieki ktorym szybko zaczniesz przyjmowac klientow:
      </p>
      <ul class="steps">
        <li>Uzupelnij profil i dodaj filmik przedstawiajacy</li>
        <li>Stworz ogloszenia z cena i czasem konsultacji</li>
        <li>Ustaw bloki dostepnosci w kalendarzu</li>
        <li>Polacz konto platnicze (Stripe) w Portfelu</li>
      </ul>
      <div class="highlight">
        Klienci moga umawiac sie na spotkania online - Ty akceptujesz wnioski, oni placa, a Ty otrzymujesz wyplate na swoje konto. Nie mozemy sie doczekac! <span class="emoji">🌟</span>
      </div>
      <div class="btn-wrapper">
        <a href="{{loginUrl}}" class="btn">Zaloguj sie do panelu</a>
      </div>
      <div class="divider"></div>
      <p class="fallback">
        Jesli przycisk nie dziala, skopiuj link:<br />
        <a href="{{loginUrl}}">{{loginUrl}}</a>
      </p>
    </div>
    {{> footer}}
  </div>
</body>
</html>
