<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Witaj w eWrozce!</title>
  {{> styles}}
</head>
<body>
  <div class="wrapper">
    {{> header}}
    <div class="body">
      <p class="body__greeting">Witaj, {{username}}! <span class="emoji">💫</span></p>
      <p class="body__text">
        Twoje konto w <strong>eWrozce</strong> jest juz aktywne. Mozesz sie zalogowac i umowic na konsultacje z wybrana wrozka - tarot, horoskopy, runy i wiele wiecej.
      </p>
      <div class="highlight">
        Przegladaj profile wrozek, wybierz odpowiedni termin i polacz sie online. Wszystko w jednym miejscu. <span class="emoji">✨</span>
      </div>
      <div class="btn-wrapper">
        <a href="{{loginUrl}}" class="btn">Zaloguj sie</a>
      </div>
      <div class="divider"></div>
      <p class="fallback">
        Jesli przycisk nie dziala, skopiuj i wklej link w przegladarce:<br />
        <a href="{{loginUrl}}">{{loginUrl}}</a>
      </p>
    </div>
    {{> footer}}
  </div>
</body>
</html>
